<main>
<header>
    
</header>
    <section>
        <div class="container">
            <div class="title">
                <h1>IntelliTASK</h1>
            </div>
            <div class="frase1">
                <h2>O Sistema Inteligente para Gerenciar suas Tarefas.</h2>
            </div>

                <img src="https://readme-typing-svg.herokuapp.com?font=Poppins&weight=500&size=35&duration=3000&pause=50&color=F7F7F7&vCenter=true&width=200&lines=Simples.;%C3%81gil.;Produtivo." 
                alt="Typing SVG" />

        </div>
            <div class="buttons">
                <button class="btnLogin" (click)="navigateToLogin()">Login</button>
                
                <button class="btnCadastro" (click)="navigateToCadastro()">Cadastre-se</button>
            </div>
    </section>

    <footer>

    </footer>

</main>