<main>
  <header>
      
  </header>
      <section class="section1">
          <div class="container">
              <div class="title">
                  <h1>Olá, {{ nomeUsuario }}.</h1>
              </div>
              <div class="frase1">
                  <h2>Seja bem vindo ao IntelliTASK.</h2>
                  <div class="buttons">
                    <button class="btnLogin" (click)="navigateToAddTarefa()" >Adicionar Tarefa</button>
                </div>
              </div>
          </div>
      </section>

      <section class="colunas">
        <div class="coluna">
          <h1>Pendentes</h1>
          <p>Conteúdo longo para demonstrar rolagem...</p>
          <p>Mais conteúdo...</p>          
        </div>
        <div class="coluna">
          <h1>Em Andamento</h1>
          <p>Conteúdo longo para demonstrar rolagem...</p>
          <p>Mais conteúdo...</p>
        </div>
        <div class="coluna">
          <h1>Concluídas</h1>
          <p>Conteúdo longo para demonstrar rolagem...</p>
          <p>Mais conteúdo...</p>
        </div>
      </section>
      
      <footer>
  
      </footer>
  
  <!-- Modal
  <app-form-modal [mostrar]="mostrarModal" (toggle)="toggleModal()">
    <div class="container">
    <form>
      <div class="form-group">
        <h1>Nova Tarefa</h1>
        <label for="nome">Título:</label>
        <input type="text"  name="titulo" required />
      </div>
      <div class="form-group">
        <label for="prioridade">Prioridade:</label>
        <div>
          <label>
            <input type="radio" name="prioridade" value="Alta" required />
            1 - Alta
          </label>
        </div>
        <div>
          <label>
            <input type="radio" name="prioridade" value="Média" />
            2 - Média
          </label>
        </div>
        <div>
          <label>
            <input type="radio" name="prioridade" value="Baixa" />
            3 - Baixa
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <textarea 
          id="descricao" 
          name="descricao" 
          placeholder="Digite a descrição da tarefa" 
          required
          rows="4"
          cols="50">
        </textarea>
      </div>
      <button class="btnEnviar" type="submit">Cadastrar</button>
    </form>
  </div>
  </app-form-modal> -->

  </main>