<main>
  <section>
    <div class="container">
      <button class="close-btn" (click)="closeForm()">X</button>

      <h2>Formulário de Cadastro</h2>
      <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" [(ngModel)]="nome" name="nome" placeholder="Digite seu nome" required />
          </div>
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" [(ngModel)]="email" name="email" placeholder="Digite seu e-mail" required />
          </div>
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" [(ngModel)]="senha" name="senha" placeholder="Digite sua senha" required />
          </div>
          <button class="btnEnviar" type="submit">Cadastrar</button>
        </form>
    </div>
  </section>
</main>


  
