<h2 mat-dialog-title>Editar Tarefa</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="data.titulo" name="titulo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="data.descricao" name="descricao"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prioridade</mat-label>
      <select matNativeControl [(ngModel)]="data.prioridade" name="prioridade">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Responsável</mat-label>
      <input matInput [(ngModel)]="data.responsavel" name="responsavel" />
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
